.tabuleiro {
    width: 800px;
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
.pecaroxo{
    display: flex;
    align-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: purple;
    margin:10px;
}
.pecarosa{
    display: flex;
    align-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: pink;
    margin:10px;
}
.quadradopreto{
    width: 100px;
    height: 100px;
    background-color: black;

}
.quadradobranco{
    width: 100px;
    height: 100px;
    background-color: beige;
}